<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.serviceinnovation.oss.mapper.AuthorizeUserMapper">


    <select id="selectAuthorizeMainUserList" resultType="ccw.serviceinnovation.common.entity.AuthorizeUser">
        select *
        from authorize_user
                 join user u on authorize_user.user_id = u.id
        where authorize_id = #{authorizeId}
          and u.parent = #{userId}
    </select>
    <select id="selectAuthorizeRAMUserList" resultType="ccw.serviceinnovation.common.entity.AuthorizeUser">
        select *
        from authorize_user
                 join user u on authorize_user.user_id = u.id
        where authorize_id = #{authorizeId}
          and u.parent != #{userId}
    </select>
</mapper>
