<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.serviceinnovation.oss.mapper.AuthorizeUserMapper">


    <select id="selectAuthorizeOtherUserList" resultType="java.lang.String">
        select username
        from
            (
                select user_id
                from authorize_user
                         join user u on authorize_user.user_id = u.id
                where authorize_id = #{authorizeId}
                  #这些用户的父节点是主用户
                  and u.parent = #{userId}
            ) as t1
                join user on user.id = t1.user_id
    </select>
    <select id="selectAuthorizeRAMUserList" resultType="java.lang.String">
        select username
        from
        (
            select user_id
            from authorize_user
                     join user u on authorize_user.user_id = u.id
            where authorize_id = #{authorizeId}
              #这些用户的父节点是主用户
              and u.parent = #{userId}
        ) as t1
        join user on user.id = t1.user_id
    </select>
</mapper>
