<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.serviceinnovation.oss.mapper.BucketMapper">


    <select id="selectBucketIdByName" resultType="java.lang.Long">
        select id from bucket where name = #{bucketName}
    </select>
    <select id="selectBucketByName" resultType="ccw.serviceinnovation.common.entity.Bucket">
        select * from bucket where name = #{bucketName}
    </select>
    <select id="getBucketName" resultType="java.lang.String">
        select name from bucket where id = #{bucketId}
    </select>

</mapper>
