<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.serviceinnovation.oss.mapper.BucketMapper">
    <update id="updateBucketName">
        update bucket set name=#{newBucketName} where name = #{bucketName}
    </update>


    <select id="selectBucketIdByName" resultType="java.lang.Long">
        select id from bucket where name = #{bucketName}
    </select>
    <select id="selectBucketByName" resultType="ccw.serviceinnovation.common.entity.Bucket">
        select * from bucket where name = #{bucketName}
    </select>
    <select id="getBucketName" resultType="java.lang.String">
        select name from bucket where id = #{bucketId}
    </select>
    <select id="selectBucketList" resultType="ccw.serviceinnovation.common.entity.Bucket">
        select * from bucket
        <where>
            user_id = #{userId}
            <if test="key!=null">
                and name like concat('%',#{key},'%')
            </if>
        </where>
        <if test="offset!=null and pagesize!= null">
            limit ${offset}, ${pagesize}
        </if>
    </select>
    <select id="selectBucketListSize" resultType="java.lang.Integer">
        select count(*)
        from bucket
        <where>
            user_id = #{userId}
            <if test="key!=null">
                and name like concat('%',#{key},'%')
            </if>
        </where>
    </select>
    <select id="getFileType" resultType="ccw.serviceinnovation.oss.pojo.vo.FileTypeVo">
        SELECT ext, (COUNT(*)) AS `count` FROM oss_object WHERE bucket_id IN
        (SELECT id FROM bucket WHERE name = #{bucketName}) GROUP BY ext;
    </select>
    <select id="getUserAllFileType" resultType="ccw.serviceinnovation.oss.pojo.vo.FileTypeVo">
        SELECT ext, (COUNT(*)) AS `count` FROM oss_object WHERE bucket_id IN
        (SELECT id FROM bucket WHERE name IN (
            SELECT `name` FROM bucket WHERE user_id = #{userId}
        )) GROUP BY ext;
    </select>


</mapper>
