<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.serviceinnovation.oss.mapper.BucketTagBucketMapper">

    <delete id="deleteTagByBucketId">
        DELETE FROM bucket_tag WHERE id IN (SELECT tag_id FROM bucket_tag_bucket WHERE bucket_id = #{bucketId})
    </delete>
</mapper>
