<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.serviceinnovation.oss.mapper.UserMapper">

    <select id="selectUsersByName" resultType="ccw.serviceinnovation.common.entity.User">
        SELECT * FROM `user`
        <where>
            <if test="id != null">
                parent = #{id}
            </if>
            <if test="keyword != null and keyword != ''">
                AND username like concat('%',#{keyword},'%')
            </if>
        </where>
        <if test="offset != null and size != null">
            LIMIT ${offset}, ${size}
        </if>
    </select>
    <select id="selectCountByName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user
        <where>
            <if test="id != null">
                parent = #{id}
            </if>
            <if test="keyword != null and keyword != ''">
                AND username like concat('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <select id="selectUserIdByName" resultType="java.lang.Long">
        select id from user where username = #{username}
    </select>
    <select id="selectuserNameById" resultType="java.lang.Long">
        select username from user where id = #{userId}
    </select>
    <select id="selectParentUser" resultType="java.lang.Long">
        select parent from user where id=#{userId}
    </select>
</mapper>
