<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.serviceinnovation.ossgateway.mapper.OssObjectMapper">



    <select id="selectObjectIdByName" resultType="ccw.serviceinnovation.common.entity.OssObject">
        select * from oss_object where name = #{objectName} and bucket_id = (select id from bucket where name = #{bucketName})
    </select>
    <select id="selectObjectStorageLevel" resultType="java.lang.Integer">
        select storage_level from oss_object where bucket_id = (select id from bucket where name = #{bucketName}) and name = #{objectName}
    </select>
    <select id="selectBucketByName" resultType="java.lang.Integer">
        select secret from bucket where name=#{bucketName}
    </select>


</mapper>
